#audio-text {
  position: absolute;
  font-weight: bold;
  font-size: 25px;
  left: 50%;
  transform: translate(-50%, 0);
}

#audio-img {
  position: absolute;
  width: 320px;
  left: 50%;
  top: 15%;
  transform: translate(-50%, 0);
  border-radius: 20px;
}

audio {
  position: absolute;
  width: 80%;
  top: 83%;
  left: 50%;
  transform: translate(-50%, 0);
}
